@use "../../styles/mixins" as *;
.calendar-body {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
}
.calendar-body__day {
  @include flexbox(row, center, center);
  width: 50px;
  height: 36px;
  cursor: pointer;
  transition: 0.3s;
  background-color: #fff;
  &:hover {
    background-color: #e6e6e6;
  }
  &__disabled {
    cursor: not-allowed;
    color: #757575;
    &:hover {
      background-color: transparent;
    }
  }
  &__today {
    background-color: #ffff76;
  }
  &__selected {
    background-color: #006edc;
    color: #fff;
  }
}
